@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
.master, .master-second{
    font-family: "Tilt Neon",Verdhana,sans-serif;
    font-size: 60px;
    font-weight: bolder;
    color: #fcfcfd;
    transition:1s ;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(#1c1a1a,#1c1a1a);
}
/*.master:hover{
    -webkit-text-stroke: 2px #1c1a1a;
    background-color: transparent;

}*/
.master-second{
    animation: straight 3s both;
    rotate: 15deg;
}
.block{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    margin: auto;
    padding: 0;
    place-content: center;
    width:600px;
    rotate: -35deg;
    animation: fingure 2s both;


}
@keyframes straight {
    from{
      rotate:-15deg;
    }
    to{
       rotate:0deg;
    }
}
@keyframes fingure {
    from{
         transform:translateX(0) ;
    }
    to{
             transform:translateX(60px) translateY(-50px) ;

         }

}
.index{
    height:430px;
    width: 50px;
    display: flex;
    margin-bottom: 0;
    padding-bottom:0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: none;
    border-top: 10px solid sandybrown;
    border-right: 10px solid sandybrown;
    border-left: 10px solid sandybrown;


}
.nail{
    width:45px;
    height:55px;
    margin:3px;
    border:5px solid sandybrown;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #dc3545;
}