@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    top:0;
    bottom:0;
    box-sizing: border-box;
    background-color: transparent;
}

#navigation{
    height:10vh;
    background-color: #ffc720;
    width:100%;
    top:0;
    position: fixed;
    z-index: 999;
    place-content: center;
}

#navigation ul{
    float: right;
}

#navigation ul li{
    color: black;
    font-size:20px ;
    font-weight: bold;
    font-family: "Nunito", Verdana, sans-serif;
    list-style-type: none;
    display: inline;
    margin: auto;
    padding: 20px 20px;
    justify-items: center;
    align-content: center;
    cursor: pointer;
}

#particle-js{
    top:10vh;
    background-color: #162533;
    position: relative;
    margin: auto;
    width: 100%;
}

#content{
    background-color: transparent;


}

.header0{
    font-size:98px ;
    color: white;
    letter-spacing: 8px;
    font-family: "Pacifico", cursive, sans-serif;
    padding: 50px 30px;
    background-color: transparent;
}

#about-me .header1, #skills .header1, #my-offers .header1, #portfolio .header1, #education .header1, #interests .header1, #certification .header1{
    font-size: 48px ;
    color: white;
    font-weight: bold;
    font-family: "Tilt Neon", Verdana, sans-serif;
    padding: 50px 30px;
}

.header2{
    color: dimgrey;
    padding: 24px 24px;
    font-size: 28px;
    font-weight: bold;
    margin-left:20px;
    margin-right:20px;
    margin-top: 20px;
    font-family: "Tilt Neon", Verdana,sans-serif;
    cursor:pointer;
}

#about-me .card{
    display: flex;
    margin: auto 30px;
    width:50%;
    /*justify-items: left;*/
    align-content: center;
    color: white;
    border: 2px solid transparent;
    font-size: 20px;
    background-color: transparent;
    font-family: "Poppins", Verdana, sans-serif;
    text-align: justify;
}

.skills .tech-stack{
    position: relative;
    width:600px;
    height:600px;
    background-color: transparent;
    justify-items: center;
    align-content: center;
    border-radius:30%;
    margin:0 ;
    display: flex;
    place-items: center;
    place-content: center;
    z-index: 105;
}

.skills .tech-stack .box{
    display:flex;
    justify-items: center;
    align-content: center;
    place-content: center;
    margin: 0;
    place-items: center;
    z-index: 110;
    overflow: hidden;
    cursor:pointer;
}

.skills .tech-stack .box figure{
    position: absolute;
    width: 85px;
    height:85px;
    border-radius: 10px;
    transition:0.5s;
    border:1px solid white;
    background-color: whitesmoke;
    box-shadow: 0 0 0 1px #222, 0 0 0 6px white;
    transform:rotate(calc(360deg/17*var(--i)));
    transform-origin: 330px;
    z-index: 110;
    margin: 0;
    overflow: hidden;
    animation:animate_03 12s linear infinite;
}

.skills .tech-stack .box figure img{
    width: 48px;
    height:48px;
    margin: 5px 5px;
    justify-items: center;
    align-content: center;
    display: flex;
}

.skills .tech-stack .box figure figcaption{
    text-align: center;
    display: block;
    margin: auto;
    justify-items: center;
    align-content: center;
}

.tech-stack .box figure.active img{
    filter: grayscale(0);
}

.tech-stack .box figure.active{
    box-shadow: 0 0 0 2px #151414, 0 0 0 2px #259be5;
}
.content-skill{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;

}

.content-skill::before{
    content:'';
    position:absolute;
    inset: 60px;
    border: 2px solid transparent;
    border-left: 2px solid #373b3e;
    border-right: 2px solid #8bb9fe;
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    z-index: 3;
    pointer-events: none;
}

.content-skill::after{
    content:'';
    position:absolute;
    inset: 120px;
    border: 2px solid transparent;
    border-left: 2px solid lightslategray;
    border-right: 2px solid steelblue;
    border-radius: 50%;
    animation: animate_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_01 {
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}

@keyframes animate_02 {
    0%{
        rotate: 360deg;
    }

    100%{
        rotate: 0deg;
    }
}

@keyframes animate_03 {
    0%{
        rotate:0deg;
    }
    20%{
        rotate:60deg;
    }
    40%{
        rotate:120deg;
    }
    60%{
        rotate:180deg;
    }
    80%{
        rotate:240deg;
    }
    100%{
        rotate:360deg;
    }
}

@keyframes animate_04 {
    0%{
        rotate:360deg;
    }
    20%{
        rotate:240deg;
    }
    40%{
        rotate:180deg;
    }
    60%{
        rotate:120deg;
    }
    80%{
        rotate:60deg;
    }
    100%{
        rotate:0deg;
    }
}

.offers{
    display: flex;
}

.offers .card{
    display: flex;
    width:300px;
    height:250px;
    margin: auto;
    justify-items: center;
    align-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: whitesmoke;
    place-content: center;
    place-items: center;
    font-size: 24px;
    font-family: "Nunito", Verdana, sans-serif;

}

.offers .card:hover{
    rotate: 15deg;
    border:4px solid gainsboro;
}

#foot-note{
    height:30vh;
    bottom: 0;
    right:0;
    left:0;
    background-color: #ffc720;
    z-index: 999;
    place-content: center;
    margin: 20px 0 0 0;
    padding: 20px 10px 10px 10px;
    place-items: center;
}

#foot-note ul{
display: flex;

}
#foot-note ul li i{
    padding: 0 15px;
}

#foot-note ul li{
    cursor: pointer;
}

#foot-note ul li, #copyright{
    display: flex;
    color: black;
    font-size:18px ;
    list-style-type: none;
    margin: auto;
    justify-items: center;
    align-content: center;
    place-content: center;
    place-items: center;

}
